<section class="hero main-hero__overlay">
  <div class="container">
    <h1 lang="en" class="hero__title main-hero__title">Mimiho</h1>
    <h2 class="hero__subtitle main-hero__subtitle">
      Ресторанно-готельний комплекс
    </h2>
    <h3 class="hero__subtitle-two">Смак життя 24/7</h3>
    <button
      class="button hero__btn hero__btn--first main-hero__btn"
      type="button"
      data-modal-open
    >
      Забронювати столик
    </button>
    <button
      class="button hero__btn hero__btn--second main-hero__btn"
      type="button"
      data-modal-open
    >
      Забронювати номер
    </button>
    <address>
      <a
        class="hero__link"
        href="https://goo.gl/maps/pxmifmAcoBnW9BxBA"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero__icon" width="20" height="20">
          <use href="./svg/icon.svg#icon-location"></use></svg
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>
    </address>
    <ul class="socials hero__socials">
      <li class="socials-item hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
