<section>
  <div class="container room-hero">
    <!-- Swiper -->
    <div class="swiper hero-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/hero-images/hotel-hero-mobile.jpg"
            alt="Зображення кімнати готелю"
          />
        </div>
        <div class="swiper-slide">
          <img src="./images/hero-images/main-hero-mobile.jpg" alt="Картинка" />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/hero-images/hotel-hero-mobile.jpg"
            alt="Зображення кімнати готелю"
          />
        </div>
        <div class="swiper-slide">
          <img src="./images/hero-images/main-hero-mobile.jpg" alt="Картинка" />
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="./images/hero-images/cil_arrow-left.svg" alt="Іконка" />
      </div>
      <div class="swiper-button-next">
        <img src="./images/hero-images/cil_arrow-right.svg" alt="Іконка" />
      </div>
    </div>

    <a
      class="hero__link"
      href="https://goo.gl/maps/pxmifmAcoBnW9BxBA"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="hero__icon" width="20" height="20">
        <use href="./svg/icon.svg#icon-location"></use></svg
      >Україна, м. Полтава,<br />
      вул. Маршала Бірюзова, 15
    </a>
    <h1 class="room-hero__title">
      Двомісний номер <br />
      <span class="room-hero__title-small">люкс</span>
    </h1>
    <p class="room-hero__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
