.room-hero {
	position: relative;
}

.room-hero__title {
	position: absolute;
	bottom: 100px;
	z-index: 10;
	margin-bottom: 16px;
	font-family: 'Times New Roman', serif;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.14;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: left;
	color: $white-text-color;
}

.room-hero__title-small {
	text-transform: lowercase;
}

.room-hero__text {
	margin-bottom: 32px;
	max-width: 325px;
	min-height: 74px;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	text-align: left;
	color: $white-text-color;

}

.room-hero__socials {
	position: absolute;
	top: 638px;
	left: 15px;
}

.room-hero__socials-item:not(:last-child) {
	margin-bottom: 8px;
}

.swiper {
	width: calc(100% + 30px);
	height: 100%;
	margin-left: -15px;
}

.swiper-slide {
	background: #fff;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// .swiper-button-prev,
// .swiper-button-next {
// 	color: yellow;
// 	font-size: 20px;
// }

.swiper-button-prev::after,
.swiper-button-next::after {
	content: none;
}

// .arrow-right {
// 	fill: yellow;
// }